* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: "Roboto", sans-serif;
    height: 100vh;
    display: flex;
    justify-content: center;
    background: #f5f5f5;
}

.app {
    position: fixed;
    width: 100%;
    height: 97%;
    max-width: 600px;
    background: #fff;
    border-left: 1px solid #eee;
    border-right: 1px solid #eee;
}

.app > .screen {
    display: none;
}

.app > .screen.active {
    display: block;
    width: 100%;
    height: 100%;
}

.screen .form {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    max-width: 400px;
}

.screen .form-input {
    width: 100%;
    margin: 20px 0;
}

.screen h2 {
    margin-bottom: 20px;
    font-size: 30px;
    color: #111;
    border-bottom: 4px solid #555;
    padding: 5px 0;
    display: inline-block;
}

.screen .form-input label {
    display: block;
    margin-bottom: 5px;
}

.screen .form-input input {
    width: 100%;
    padding: 10px;
    border: 1px solid #555;
    font-size: 16px;
}

.screen .form-input button {
    padding: 10px 20px;
    background: #111;
    color: #eee;
    font-size: 16px;
    cursor: pointer;
    outline: none;
    border: none;
}

.chat-screen .header {
    background: #111;
    height: 50px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 20px;
}

.chat-screen .header .logo {
    font-size: 18px;
    color: #eee;
    font-weight: 600;
}

.chat-screen .header button {
    padding: 5px 10px;
    border: 1px solid #eee;
    background: transparent;
    color: #eee;
    font-size: 15px;
    cursor: pointer;
    outline: none;
}

.chat-screen .messages {
    width: 100%;
    height: calc(100% - 100px);
    background: #f5f5f5;
    overflow-y: auto;
    padding: 10px;
}

.chat-screen .messages .message {
    display: flex;
    padding: 10px;
}

.chat-screen .messages .message > div {
    max-width: 80%;
    background: #fff;
    box-shadow: 0px 0px 20px 5px rgba(0, 0, 0, 0.05);
    padding: 10px;
}

.chat-screen .messages .message.my-message {
    justify-content: flex-end;
}

.chat-screen .messages .message.other-message {
    justify-content: flex-start;
}

.chat-screen .messages .message .name {
    font-size: 13px;
    color: #555;
    margin-bottom: 5px;
}

.chat-screen .messages .message .text {
    word-wrap: break-word;
}

.chat-screen .messages .update {
    text-align: center;
    padding: 10px;
    font-style: italic;
}

.chat-screen .typebox {
    display: flex;
    align-items: center;
    padding: 10px;
    background: #eee;
    border-top: 1px solid #ddd;
}

.chat-screen .typebox input[type="file"] {
    display: none;
}

.chat-screen .typebox .image-upload-label {
    display: inline-block;
    padding: 10px 20px;
    background: #ddd;
    color: #333;
    cursor: pointer;
    margin-right: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

.chat-screen .typebox input[type="text"] {
    flex: 1;
    padding: 10px;
    font-size: 16px;
    margin-right: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

.chat-screen .typebox button {
    padding: 10px;
    background: #111;
    color: #eee;
    font-size: 16px;
    border: none;
    cursor: pointer;
    outline: none;
    border-radius: 5px;
}

.chat-screen .messages .message img.image {
    max-width: 200px;
    max-height: 200px;
    margin-top: 10px;
    border-radius: 5px;
}

